/* Regular styles for larger screens */
.container {
  width: auto;
}


/* Define a two-column layout for the charts */
.chart-container {
  max-width: 100%;
  background-color: rgba(234, 189, 228, 0.186);
  display: flex;
  align-items: center;
}

/* Style each chart individually */
.chart {
  
  flex: 1;
  margin: 0 10px; /* Add some spacing between the charts */
}
